In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [2]:
names=["krish","jack","master",1,2,3,4,5]
print(names)

['krish', 'jack', 'master', 1, 2, 3, 4, 5]

In [3]:
## accessing list elements

fruit = ["apple","Mango","banana","Kiwi","grapes"]

fruit[1]

'Mango'

In [14]:
fruit[0]
print(fruit)

fruit[-1]
print(fruit[-1:4])

['apple', 'Mango', 'banana', 'Kiwi', 'grapes']
[]

In [17]:
## modify the list element

fruit[2] = "melon"

print(fruit)

['apple', 'Mango', 'melon', 'melon', 'grapes']

In [ ]:
## list method

fruit.append("orange")

print(fruit)

fruit.insert(1,"banana")
print(fruit)

fruit.remove("banana")

print(fruit)

['apple', 'banana', 'banana', 'Mango', 'melon', 'melon', 'grapes', 'orange', 'orange', 'orange', 'orange']
['apple', 'banana', 'banana', 'banana', 'Mango', 'melon', 'melon', 'grapes', 'orange', 'orange', 'orange', 'orange']
['apple', 'banana', 'banana', 'Mango', 'melon', 'melon', 'grapes', 'orange', 'orange', 'orange', 'orange']

In [22]:
## remove and return the last

popped_fruit=fruit.pop()

print(popped_fruit)
print(fruit)

orange
['apple', 'banana', 'banana', 'Mango', 'melon', 'melon', 'grapes', 'orange', 'orange', 'orange']

In [23]:
index = fruit.index("melon")

print(index)

4

In [24]:
print(fruit.count("orange"))

3

In [28]:
fruit.sort()
print(fruit)

['Mango', 'apple', 'banana', 'banana', 'grapes', 'melon', 'melon', 'orange', 'orange', 'orange']

In [29]:
fruit.reverse()

print(fruit)

['orange', 'orange', 'orange', 'melon', 'melon', 'grapes', 'banana', 'banana', 'apple', 'Mango']

In [30]:
fruit.clear()

print(fruit)

[]

In [31]:
## slicing list

number = [1,2,3,4,5,6,7,8,9,10]

print(number[2:5])
print(number[:5])
print(number[5:])
print(number[::2])
print(number[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [37]:
## interation of list
for num in number:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [42]:
## itreating with index

for index,num in enumerate(number):
    print(index,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

#### list comprehension

In [ ]:
## basic list comphrension


square = [num**2 for num in range(10) ]

print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
## list comprehsnion condition logic
ls=[]
for i in range(10):
    if i%2==0:
        ls.append(i)
print(ls)

[0, 2, 4, 6, 8]

In [3]:
number = [1,2,3,4,5,6,7,8,9,10]


for index,num in enumerate(number):
    print(index,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
## list comprehension


[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
## list comprehension

## basic syntax [expression for item in itreable]

## with condition logic [expression for item in iterable if condition]

In [8]:
square = [x**2 for x in range(10)]

print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
even = [num for num in range(10) if num%2==0]
print(even)

[0, 2, 4, 6, 8]

In [13]:
## nested list comprehension

lst1 = [1,2,3,4,5,6]

lst2 = ['a','b','c','d','e','f']


pair=[[i,j]for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [1, 'f'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [2, 'f'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [3, 'f'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [4, 'f'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e'], [5, 'f'], [6, 'a'], [6, 'b'], [6, 'c'], [6, 'd'], [6, 'e'], [6, 'f']]

In [ ]:
## list comprenshsion

words = ["hello","world","python"]

length = [len(word) for word in words]

print(length)

[5, 5, 6]

:

In [1]:
def generate_sandglass(n):
    """
    Function to return a sandglass pattern of '*' of side n as a list of strings.
    
    Parameters:
    n (int): The height of the sandglass.
    
    Returns:
    list: A list of strings where each string represents a row of the sandglass pattern.
    """
    # Your code here
    
    lst = []
    

    
    for i in range  (2*n-1,1,-1):
        lst.append(' '*(n-i)+'*'*i+' '*(n-i))
    
    for j in range (1,2*n):
        lst.append(' '*(n-j)+'*'*j+' '*(n-j))
        
    return lst



generate_sandglass(3)

['*****', '****', '***', ' ** ', '  *  ', ' ** ', '***', '****', '*****']

In [2]:
for i in range(4):
    print('*')

*
*
*
*

In [4]:
def hollow_right_triangle(rows):
    for i in range(1, rows + 1):  # Outer loop for rows
        for j in range(1, i + 1):  # Inner loop for columns
            # Conditions to print a star:
            # 1. First column (j == 1)
            # 2. Last column of the current row (j == i)
            # 3. Last row (i == rows)
            if j == 1 or j == i or i == rows:
                print("*", end="")
            else:
                print(" ", end="")
        print()  # Move to the next line after each row


        hollow_right_triangle(5)

In [8]:
odd_count = 0
even_count = 0
lst= [1,2,3,4,5]   

odd_count = 0
even_count = 0
    
for n in range(len(lst)):
    if lst[n]%2==0:
        even_count += 1
    else:
         odd_count += 1
            


print(even_count,odd_count)

2 3

In [62]:
lst = [1, 7, 3, 10, 5]
n = len(lst)
for i in range(n-1):
    A = abs(lst[i]-lst[i+1])
    l_m = []
    l_m.append(A)

    print(l_m)


print(min(l_m))

[6]
[4]
[7]
[5]
5

In [ ]:
a = list1.set.is_subset(list2)list1 = [1, 3, 5]
list2 = [2, 4, 6]



list1.extend(list2)
    
list1.sort()

print(list1)

print(a)

AttributeError: 'list' object has no attribute 'set'

In [ ]:
tup: (1, 2, 3, 2, 1)

reversed

NameError: name 'tup' is not defined

In [117]:
n = 5
c = 0

for i in range(n+1):
    b = i*2
    c += b

print(c)

30

In [119]:
n = 5
for i in range (2,5):
        if(n%i==0):
           print(False)    
        else:
            print(True)

True
True
True